body{
    /* color: blue;
    font-size: 2em; */

    
}

div{

    /* border: 5px solid red; */
}

p{
    /* border: 5px solid yellowgreen; */
}

span{
    border: 2px solid blue;
    font-size: 2em;

    width: 200px;
    height: 100px;

    display: inline-block;
}