
div.content-wrapper{
    border: 1px solid #fcfcfc;
    box-shadow: 4px 4px 15px darkseagreen;
    /*  margin: 0 auto; */
}

div{
    text-align: center;
    width: 720px;  

    margin: 0 auto;
}

img{
    display: block;
    margin: 0 auto;
}